$lb-background: #62C2E7;
$shadow-blue: #0DA9E5;
$gray-background: #F4F4F4;
$donate-green: #13C1AC;
$about-green: #14AF8F;
$header-gray: #545454;
$blue-gray: #474E5D;
$para-gray: #7E7E7E;
$dribble-pink: #EA4C89;

@font-face
{
font-family: blackjack;
src: url(black_jack.ttf);
}
@font-face
{
font-family: kaushanScript;
src: url(KaushanScript-Regular.otf);
}
@font-face
{
font-family: ProximaNova;
src: url(ProximaNova-Light.otf);
}

html {
	background: dimgray;
}

body {
	font-family: ProximaNova, sans-serif;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

.content-one {
	background-color: $lb-background;
	width: 1250px;
	height: 650px;
}

.header {
	padding-left: 160px;
	padding-right: 160px;
}

.perth-p-box {
	background-color: white;
	width: 100px;
	height: 90px;
	box-shadow: 15px 15px;
	font-family: kaushanScript;
	color: $shadow-blue;
	text-align: center;
	border-bottom: solid 5px;
	display: inline-block;
}

.perth-p {
	font-size: 40px;
	padding-top: 10px;
}

.fa-bars {
	color: white;
	position: relative;
	float: right;
	font-size: 30px;
	margin-top: 40px;

}

.content-text-one {
	float: right;
	text-align: right;
	color: white;
	// padding-left: 160px;
	padding-right: 160px;
}

.caption {
	font-family: blackjack;
	font-size: 65px;
	font-weight: lighter;
	letter-spacing: 1px;

}

.sub-caption {
	font-family: ProximaNova, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	padding-bottom: 30px;
	margin-top: -20px;
}

.free {
	font-family: sans-serif;
	font-style: italic;
}

.download {
	border: solid 3px white;
	border-radius: 5px;
	width: 155px;
	font-size: 20px;
	padding: 25px;
	text-align: center;
	float: right;
	letter-spacing: 1px;
	font-weight: lighter;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.fa-cloud-download {
	font-size: 20px;
}

.iphone5 {
	padding-left: 160px;
	margin-left: 50px;
	margin-top: -43px;

}

.content-two {
	background-color: $gray-background;
	width: 1250px;
	height: 650px;
	padding-top: 10px;
}

.content-two-head {
	color: $header-gray;
	font-size: 30px;
	font-weight: lighter;
}

.content-text-two {
	width: 510px;
	padding: 160px;
	font-size: 16px;
	font-weight: lighter;
	// margin-top: -50px;
	line-height: 25px;
	padding-right: 0px;
	display: inline-block;
}

.para-one {
	color: $para-gray;
	
}

.para-two {
	color: $para-gray;
	font-style: italic;
	border-left: solid 6px $shadow-blue;
	padding-left: 15px;
}

.say-hello {
	border: solid 3px $about-green;
	border-radius: 5px;
	width: 155px;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: lighter;
	color: $about-green;
	text-decoration: none;
	top: 70px;
	position: relative;
	text-transform: uppercase;
}

.fa-envelope {
	font-size: 16px;
}

.ipad-flat {
	float: right;
	margin-top: 50px;
}

.content-three {
	background-color: white;
	width: 1250px;
	height: 650px;
	padding-top: 10px;
}

.content-text-three {
	width: 360px;
	float: right;
	padding-top: 60px;
	padding-right: 160px;
	font-size: 16px;
	font-weight: lighter;
	line-height: 25px;
}

.content-three-head {
	color: $header-gray;
	font-size: 30px;
	font-weight: lighter;
	padding-bottom: 10px;
}

.para-one-three {
	color: $blue-gray;
	font-style: italic;
}

.para-two-three {
	color: $para-gray;
}

.dribble {
	border: solid 3px $dribble-pink;
	border-radius: 5px;
	width: 155px;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: lighter;
	color: $dribble-pink;
	text-decoration: none;
	top: 40px;
	position: relative;
	text-transform: uppercase;
}

.devices {
	margin-top: -17px;
}

.content-four {
	height: 320px;
	background-color: $donate-green;
	text-align: center;
	padding-top: 10px;
}

.like {
	color: white;
	font-size: 30px;
	font-weight: lighter;
	padding-top: 70px;
}

.donate {
	border: solid 3px white;
	border-radius: 5px;
	width: 155px;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: lighter;
	color: white;
	text-decoration: none;
	top: 40px;
	position: relative;
	text-transform: uppercase;
}

.beer {
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.content-five {
	background-color: $gray-background;
	text-align: center;
	height: 645px;
}

.five-icons {
	padding-top: 240px;
}
